NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_GENLAYER_EXPLORER=https://studio.genlayer.com
NEXT_PUBLIC_GENLAYER_CONTRACT_ADDRESS=0xF4E0745CfDB294Fe23b23DaA3bF838DBaa4321ef
